*~
*.exe
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tsbuildinfo
*.tgz

.env*
.node_repl_history
.pnp*
.sass-cache
.tern-port
bower.json.ember-try
connect.lock
lerna-debug.log*
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.cache/
.dynamodb/
.eslintcache/
.fusebox/
.grunt/
.idea/
.lock-wscript/
.next/
.node_modules.ember-try/
.npm/
.nyc_output/
.nuxt/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.vuepress/dist/
bower_components/
build/Release/
coverage/
dist/
jspm_packages/
lib-cov/
logs/
node_modules/
package.json.ember-try/
pids/
tmp/
typings/

# call out yarn
.yarn-integrity
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*
